<main id="page-<%= pageData.template %>">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/introduce/mv-img.jpg" alt="THE MARKONE" class="pc">
			<img src="<%= RELATIVE_PATH %>img/introduce/mv-img-sp.jpg" alt="THE MARKONE" class="sp">
		</div>
		<div class="mv-page__heading">
			<h1 class="mv-page__heading-ttl">사업개요</h1>
			<ul class="breadcrumb">
				<li><a href="">Home</a></li>
				<li><span>사업개요</span></li>
			</ul>
		</div>
	</section>
	<section class="sec-content">
		<div class="inner">
			<h2 class="c-ttl__02">
				여의대방 더 마크원
			</h2>
			<h3 class="c-ttl__03">
				<span>여의도를 눈앞에! 역세권을 집앞에!</span>
				<small>자부심 마저 위대한 초고층 <br class="sp">스카이마크의 완성!</small>
			</h3>
			<div class="heading-note">
				총 1,228 세대<small></small> | 52㎡, 59㎡, 84㎡
			</div>
			<div class="content-img">
				<img src="<%= RELATIVE_PATH %>img/introduce/img-01.jpg" alt="THE MARKONE">
			</div>
			<h3 class="c-ttl__04">사업개요</h3>
			<div class="introduce-note">
				<p>
					| 건축개요 |
				</p>
			</div>
			<h2 class="c-ttl__05">
				<span>INTRODUCE</span>
				<svg aria-hidden="true" class="e-font-icon-svg e-far-building" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M128 148v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12zm140 12h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm-128 96h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm128 0h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm-76 84v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm76 12h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm180 124v36H0v-36c0-6.6 5.4-12 12-12h19.5V24c0-13.3 10.7-24 24-24h337c13.3 0 24 10.7 24 24v440H436c6.6 0 12 5.4 12 12zM79.5 463H192v-67c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v67h112.5V49L80 48l-.5 415z"></path></svg>
			</h2>
			<div class="introduce-block">
				<div class="introduce-block__ct">
					<table class="introduce-block__ct-table-01">
						<tr>
							<th>대지위치</th>
							<td>서울 영등포구 신길동 459-5번지 일원</td>
						</tr>
						<tr>
							<th>대지면적</th>
							<td> 34,056.80㎡</td>
						</tr>
						<tr>
							<th>건축면적</th>
							<td>9,517.31 ㎡</td>
						</tr>
						<tr>
							<th>연 면 적</th>
							<td>205,292.95 ㎡</td>
						</tr>
						<tr>
							<th>건축규모</th>
							<td>지하 4층, 지상 42층, 6개동, 총 1,228세대 예정</td>
						</tr>
						<tr>
							<th>건 폐 율</th>
							<td>34.75 %</td>
						</tr>
						<tr>
							<th>용 적 율</th>
							<td>476.23 %</td>
						</tr>
						<tr>
							<th>주차대수</th>
							<td>1,709 대</td>
						</tr>
					</table>
				</div>
				<div class="introduce-block__img">
					<img src="<%= RELATIVE_PATH %>img/introduce/img-02.jpg" alt="THE MARKONE">
				</div>
			</div>
			<div class="introduce-note">
				<p>
					| 타입 구성 안내 |
				</p>
			</div>
			<h2 class="c-ttl__05">
				<span>TYPE PLAN</span>
				<svg aria-hidden="true" class="e-font-icon-svg e-fas-cubes" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z"></path></svg>
			</h2>
			<div class="introduce-block">
				<div class="introduce-block__img">
					<img src="<%= RELATIVE_PATH %>img/introduce/img-02.jpg" alt="THE MARKONE">
				</div>
				<div class="introduce-block__ct">
					<span class="introduce-block__ct-note">(면적단위: ㎡)</span>
					<table class="introduce-block__ct-table-02">
						<tr>
							<th>타입</th>
							<th>세대수</th>
							<th>전용면적</th>
						</tr>
						<tr>
							<td>52A</td>
							<td>156</td>
							<td>52.98</td>
						</tr>
						<tr>
							<td>59A</td>
							<td>328</td>
							<td>59.89</td>
						</tr>
						<tr>
							<td>59B</td>
							<td>464</td>
							<td>59.86</td>
						</tr>
						<tr>
							<td>84A</td>
							<td>230</td>
							<td>84.91</td>
						</tr>
						<tr>
							<td>84B</td>
							<td>82</td>
							<td>84.93</td>
						</tr>
						<tr>
							<td>계</td>
							<td>1,260(예정)</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="note-page">
				<p>
					※ 본 사이트에 사용된 조감도, 투시도, 지적도, 사진, 이미지 등은 소비자의 이해를 돕기 위한 것으로 실제와 다를수 있으며, 인허가 과정에서 변경될 수 있습니다.<br>
					※ 본 사이트에 명시된 모든 개발계획은 관계기관 혹은 관계사의 사정에 의해 변경될 수 있습니다.
				</p>
			</div>
		</div>
	</section>
</main>
